* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Catamaran, sans-serif;
    background-color: rgb(13, 25, 63);
}

.wrapper {
    max-width: 1000px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
}

.header {
    background-color: rgb(255, 255, 255);
}

.header-top {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.nav {
    display: flex;
    list-style-type: none;
    padding: 15px 0px 12px;
    justify-content: space-evenly;
}

.nav>li>a {
    text-decoration: none;
    color: rgb(29, 51, 98);
    transition: all 0.2s ease 0s;
}

.nav>li>a:hover {
    color: rgb(239, 239, 239);
}

.logo {
    color: rgb(29, 51, 98);
    font-size: 36px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-decoration: none;
    letter-spacing: 3px;
}

.logo:hover {
    color: rgb(116, 144, 184);
    transition: all 0.2s ease 0s;
}

.logo-image {
    display: block;
    width: 124px;
    height: 50px;
    background-size: cover;
    background-image: url("../site_images/logo.png");
    margin-right: 20px;
    background-repeat: no-repeat;
}

.header-bottom {
    background-color: rgb(116, 144, 184);
}

.header-bottom .nav {
    margin: 0px;
}

#footer>li>a {
    color: rgb(239, 239, 239);
}

#footer>li>p {
    color: rgb(239, 239, 239);
}

#footer>li>a:hover {
    color: rgb(29, 51, 98);
}

.banner {
    background-image: url("../site_images/home.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding-top: 200px;
    padding-bottom: 260px;
}

.banner-bg {
    background-color: rgb(255, 255, 255);
}

#not-implemented {
    background-image: url("../site_images/not_implemented.png");
    background-size: contain;
    padding-top: 223px;
    padding-bottom: 300px;
}

.banner-items {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(255, 255, 255);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 45px;
}

.grid-bg {
    color: rgb(29, 51, 98);
    padding: 30px 40px;
    border: solid rgb(13, 25, 63);
    border-radius: 15px;
}

.grid-bg h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
}

.grid-bg p {
    line-height: 1.5;
    margin-bottom: auto;
    text-align: justify;
}

.catalog {
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: rgb(255, 255, 255);
}

.catalog-grid {
    color: rgb(13, 25, 63);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

#page-title {
    grid-area: 1 / 1 / 2 / 5;
}

.catalog-grid-item {
    text-align: start;
}

.catalog-grid-item .catalog-background {
    border: solid rgb(13, 25, 63);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 20px;
}

.catalog-background>img {
    width: 226px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: auto;
    margin-bottom: 5px;
}

.catalog-grid-title {
    font-size: 25px;
    line-height: 1.5;
    padding-left: 15px;
    padding-right: 15px;
}

.catalog-grid-price {
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0px 15px;
}

.catalog-grid-description {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0px 15px;
}

.catalog-background .buttons {
    margin-top: 15px;
    text-align: center;
}

.catalog-background .buttons>a {
    border-radius: 50px;
    border: 2px solid rgb(29, 51, 98);
    background-color: rgb(29, 51, 98);
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    padding: 5px 13px;
    margin: 0px 1px;
}

.catalog-background .buttons>a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(13, 25, 63);
}

.details {
    padding-top: 25px;
    padding-bottom: 35px;
    background-color: rgb(255, 255, 255);
}

.details-grid {
    color: rgb(13, 25, 63);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

#details-title {
    font-size: 30px;
    grid-area: 1 / 1 / 2 / 4;
}

.details-grid-item {
    text-align: start;
}

.details-grid-info {
    padding: 0px 20px;
    grid-area: 2 / 2 / 2 / 4;
}

.details-grid-item .details-background {
    background-color: rgb(255, 255, 255);
    padding-bottom: 20px;
}

.details-background>img {
    width: 314px;
    border-radius: 15px;
    height: auto;
    margin-bottom: 5px;
}

.details-grid-price {
    font-size: 30px;
    line-height: 1.5;
}

.details-grid-description {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
}

.details-background .items {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
}

.details-background .items .items-title {
    color: rgb(29, 51, 98);
    margin-right: 10px;
}

.details-background .items>a {
    border-radius: 13px;
    border: 2px solid rgb(29, 51, 98);
    background-color: rgb(29, 51, 98);
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    padding: 2px 20px;
    margin: 0px 10px 0px 0px;
}

.details-background .items>a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(13, 25, 63);
}

#modal {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

#modal:target {
    display: block;
}

#modal-window {
    width: 455px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    color: rgb(13, 25, 63);
    position: absolute;
    inset: 0px;
    margin: auto;
    background: rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 255) 0px 0px 10px;
}

#modal-window-header {
    display: flex;
    padding: 10px 23px 5px 21px;
    justify-content: space-between;
}

#modal-window-title {
    font-size: 30px;
}

.modal-window-close {
    display: inline-block;
    color: rgb(13, 25, 63);
    text-decoration: none;
    background: transparent;
    font-size: 30px;
    cursor: pointer;
}

.modal-window-close:hover {
    color: rgb(29, 51, 98);
}

.modal-window-grid {
    color: rgb(13, 25, 63);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 10px 0px 20px;
}

.modal-window-grid-info {
    grid-column: 2 / 3;
}

.modal-window-grid>img {
    width: 185px;
    height: auto;
    border-radius: 15px;
}

.modal-window-grid-price {
    font-size: 30px;
    line-height: 1.5;
}

.modal-window-grid-description {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
}

.modal-window-grid-info {
    text-align: start;
}

.modal-window-grid-info .items {
    display: flex;
    align-items: baseline;
    margin-top: 13px;
}

.modal-window-grid-info .items .items-title {
    color: rgb(29, 51, 98);
    margin-right: 10px;
}

.modal-window-grid-info .items>a {
    border-radius: 13px;
    border: 2px solid rgb(29, 51, 98);
    background-color: rgb(29, 51, 98);
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    padding: 2px 20px;
    margin: 0px 10px 0px 0px;
}

#quick-see-page {
    margin-top: 40px;
    margin-left: 102px;
}

.modal-window-grid-info .items>a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(13, 25, 63);
}