* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Catamaran', sans-serif;
    background-color: #0d193f;
}

.wrapper {
    max-width: 1000px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    background-color: #fff;
}

.header-top {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}

.nav {
    display: flex;
    list-style-type: none;
    padding: 15px 0px 12px 0px;
    justify-content: space-around;
}

.nav>li>a {
    text-decoration: none;
    color: #1d3362;
    transition: 0.2s ease;
}

.nav>li>a:hover {
    color: #efefef;
}

.logo {
    color: #1d3362;
    font-size: 36px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-decoration: none;
    letter-spacing: 3px;
}

.logo:hover {
    color: #7490b8;
    transition: 0.2s ease;
}

.logo-image {
    display: block;
    width: 124px;
    height: 50px;
    background-size: cover;
    background-image: url(../site_images/logo.png);
    margin-right: 20px;
    background-repeat: no-repeat;
}

.header-bottom {
    background-color: #7490b8;
}

.header-bottom .nav {
    margin: 0;
}

#footer>li>a {
    color: #efefef;
}

#footer>li>a:hover {
    color: #1d3362;
}

.banner {
    background-image: url(../site_images/home.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding-top: 200px;
    padding-bottom: 260px;
}

.banner-bg {
    background-color: #fff;
}

#not-implemented {
    background-image: url(../site_images/not_implemented.png);
    background-size: contain;
    padding-top: 223px;
    padding-bottom: 300px;
}

.banner-items {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px 45px;
}

.grid-bg {
    color: #1d3362;
    padding: 30px 40px;
    border: #0d193f;
    border-style: solid;
    border-radius: 15px;
}

.grid-bg h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}

.grid-bg p {
    line-height: 1.5;
    margin-bottom: auto;
    text-align: justify;
}

/*  */

.catalog {
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: #fff;
}

.catalog-grid {
    color: #0d193f;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px 15px;
}

#page-title {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.catalog-grid-item {
    text-align: start;
}

.catalog-grid-item .catalog-background {
    border: #0d193f;
    border-style: solid;
    border-radius: 15px;
    background-color: #fff;
    padding-bottom: 20px;
}

.catalog-background>img {
    width: 226px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: auto;
    margin-bottom: 5px;
}

.catalog-grid-title {
    font-size: 25px;
    line-height: 1.5;
    padding-left: 15px;
    padding-right: 15px;
}

.catalog-grid-price {
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0px 15px 0px 15px;
}

.catalog-grid-description {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0px 15px 0px 15px;
}

.catalog-background .buttons {
    margin-top: 15px;
    text-align: center;
}

.catalog-background .buttons>a {
    border-radius: 50px;
    border: 2px solid #1d3362;
    background-color: #1d3362;
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
    cursor: pointer;
    padding: 5px 13px;
    margin: 0px 1px 0px 1px;
}

.catalog-background .buttons>a:hover {
    background-color: #fff;
    color: #0d193f;
}

/*  */

.details {
    padding-top: 25px;
    padding-bottom: 35px;
    background-color: #fff;
}

.details-grid {
    color: #0d193f;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px 15px;
}

#details-title {
    font-size: 30px;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.details-grid-item {
    text-align: start;
}

.details-grid-info {
    padding: 0px 20px 0px 20px;
    grid-column: 2 / 4;
    grid-row: 2 / 2;
}

.details-grid-item .details-background {
    background-color: #fff;
    padding-bottom: 20px;
}

.details-background>img {
    width: 314px;
    border-radius: 15px;
    height: auto;
    margin-bottom: 5px;
}

.details-grid-price {
    font-size: 30px;
    line-height: 1.5;
}

.details-grid-description {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
}

.details-background .items {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
}

.details-background .items .items-title {
    color: #1d3362;
    margin-right: 10px;
}

.details-background .items>a {
    border-radius: 13px;
    border: 2px solid;
    border-color: #1d3362;
    background-color: #1d3362;
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
    cursor: pointer;
    padding: 2px 20px;
    margin: 0px 10px 0px 0px;
}

.details-background .items>a:hover {
    background-color: #fff;
    color: #0d193f;
}